h2, #header {
  font-size: 50px;
  font-size: 8.5vw;
  text-align: center;
}

body {
  background-color: #edf0f1;
}

.notes {
  text-align: center;
}
.notes #controls {
  margin-bottom: 10px;
}
.notes .icon-doc-text {
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
 }
 .notes .icon-doc-text:hover {
   cursor: pointer;
   font-size: 37px;
 }
 .notes ul#create-new-note {
   text-align: center;
 }
 .notes ul#create-new-note .medium.btn.primary {
   float: left;
   height: 35px;
   width: 100%;
   top: -13px;
   background-color: #2fc22f;
   border-color: #2fc22f;
   -webkit-transition: all  500ms;
   -moz-transition: all  500ms;
   -o-transition: all 500ms;
   transition: all  500ms;
 }
 .notes ul#create-new-note .medium.btn.primary:hover {
   background-color: #219821;
   border-color: #219821;
 }
 .notes #notes-list li {
   margin: 15px;
   float: left;
   position: relative;
   width: 30%;
 }
 @media screen and (max-width: 900px) {
   .notes #notes-list li {
     width: 71%;
     text-align: center;
     margin: 0 auto;
     float: none;
     position: relative;
     margin-bottom: 10px;
   }
 }
