h2, #header {
  font-size: 50px;
  font-size: 8.5vw;
  text-align: center;
}

body {
  background-color: #edf0f1;
}

.notes {
  text-align: center;
}
.notes #controls {
  margin-bottom: 10px;
}
.notes .icon-doc-text {
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
